# API Configuration
VITE_API_URL=http://localhost:5000/api/v1

# Blockchain Configuration
VITE_CHAIN_ID=11155111
VITE_CHAIN_NAME=Sepolia
VITE_RPC_URL=https://sepolia.infura.io/v3/YOUR_INFURA_KEY

# Contract Addresses
VITE_TOKEN_ADDRESS=0x9faEA50ed06Ca785221Eb153A2683663f7AF6579
VITE_MARKETPLACE_ADDRESS=0xFE78F2DD9c145A5C7fa81BE7c77Ac1Bce154FaCA
